body {
  font-family: Roboto, sans-serif;
  background: rgb(248, 248, 248);
  color: rgb(48, 48, 48)
 }

 p {
  margin: 0;
  padding:  0;
 }
 
 
 .container {
  width: 90%;
  max-width: 700px;
  background-color: white;
  margin: 50px auto;
  border-radius: 10px;
  padding: 40px;
 }

 header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
 }

 .heading-container {
  display: flex;
  align-items: center;
 }

 .page-heading {
  margin: 0;
  display: inline-block;
  margin-right: 10px;
 }

 .notification-count {
  background-color: rgb(10, 154, 106);
  color: white;
  padding: 2px 10px;
  border-radius: 5px;
 }

 .read-all-btn {
  opacity: 0.5;
  transition-duration: 200ms;
  cursor: pointer;
 }

 .read-all-btn:hover {
  opacity: 1;
 }

 .notification-list {
  display: grid;
  grid-row-gap: 10px
 }

 .notification-container {
  display: flex;
  border-radius:  5px;
  padding: 20px;
 }

 .notification-container[data-status='unread'] {
  background: rgb(248, 248, 248);
 }

 .profile-pic {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 20px;
 }
 
 .notification-context {
  width:  100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

 .notification-private-message {
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
 }

 .notification-date {
  opacity: 0.5;
 }
 